{{#each photos as |photo|}}
  <section data-id="{{photo._id}}">
    <h3 data-id="{{photo._id}}">
      {{photo.name}}
    </h3>
    <p> Tags:
      {{#if photo.tags.[0]}}
        {{photo.tags}}
      {{else}}
        No data provided
      {{/if}}
    </p>
  </section>
{{/each}}
