{{#each photos as |photo|}}
  <section class="index-listing" data-id="{{photo._id}}">
    <img data-id="{{photo._id}}" class="thumbnail selector" src="{{photo.url}}" alt="photo unavailable">
    <h3 class="selector" data-id="{{photo._id}}">
      {{shorten-name photo.name}}
    </h3>
  </section>
{{/each}}
