{{#with photo as |photo|}}
  <section data-id="{{photo._id}}">
    <img class="full-image" src="{{photo.url}}" alt="photo unavailable">
    <h3 data-id="{{photo._id}}">
      {{photo.name}}
    </h3>
    <p> Tags:
      {{#if photo.tags.[0]}}
        {{photo.tags}}
      {{else}}
        No data provided
      {{/if}}
    </p>
    <p>Owned by: {{photo.owner.email}}</p> <!-- help with partial "owner"? -->
    <p>Posted on: {{date-time photo.createdAt}}</p>
    <p>Updated on: {{date-time photo.updatedAt}}</p>
  </section>
{{/with}}
