{{#with photo as |photo|}}
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLongTitle">Your Photo:</h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <section data-id="{{photo._id}}">
    <img class="full-image" src="{{photo.url}}" alt="photo unavailable">
    <h3 data-id="{{photo._id}}">
      {{photo.name}}
    </h3>
    <p> Tags:
      {{#if photo.tags.[0]}}
        {{tags-display photo.tags}}
      {{else}}
        No data provided
      {{/if}}
    </p>
    <p>Owned by: {{photo.owner.email}}</p> <!-- help with partial "owner"? -->
    <p>Posted on: {{date-time photo.createdAt}}</p>
    <p>Updated on: {{date-time photo.updatedAt}}</p>
  </section>
</div>
{{#if (owns-photo photo)}}
<div class="modal-footer">
  <button type="button" class="btn btn-alert-primary">Update</button>
  <button type="button" class="btn btn-alert-alert">Delete</button>
</div>
{{/if}}
{{/with}}
